@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	/*background-image: url('/static/back_3.svg');
	background-repeat: no-repeat;
	background-size: contain;*/
}

#bg {
	position: fixed;
	top: 0;
	left: 0;

	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}

#logo {
	margin: 1.2em;
	width: 200px;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.main-container {
	width: 60em;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	/*box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);*/
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	margin: auto;
	margin-top: 5em;
	border-radius: 1.2em;
	padding: 2em;
}

.flex-middle {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#streaming {
	width: 100%;
	height: auto;
	border-radius: 0.6em;
	background-color: black;
}

.container {
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
	border-radius: 1.1em;
	margin: auto;
	display: block;
}

.no-cam-icon {
	background-image: url('/static/no-camera.png');
	width: 5em;
	height: 5em;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0.5em;
	display: inline-block;
}

.container-text-content {
	display: inline-block;
	vertical-align: top;
	margin-left: 1em;
}

.container-header {
	font-size: 2em;
	font-weight: bold;
	color: white;
	margin-bottom: 0.5em;
}

.container-text {
	color: white;
	margin-top: 0.5em;
}

.selection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 5em;
}

select {
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	font-size: 1.3em;
	border-radius: 0.4em;
	padding: 0.2em;
	outline: none;
	width: 100%;
	margin: 0 0.2em;
	text-align-last: center;
}

select:focus {
	border: 3px solid #0a89df;
}

.btn {
	background-color: #3a2ee0;
	padding: 0.5em 1.1em;
	color: white;
	font-size: 1.6em;
	font-weight: bold;
	border-radius: 0.5em;
	margin: 0.2em 0;
	margin-bottom: 0;
	border: none;
}

.btn-red {
	background-color: #f03402;
}

.btn:hover {
	cursor: pointer;
}

.btn:active {
	background-color: #2f25b8;
}

.btn-red:active {
	background-color: #d12b02;
}

#video-processing {
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	display: inline-block;
	color: white;
	font-size: 1.5em;
	/*flex-direction: row;
	align-items: center;*/
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
	margin: 1.5em;
	padding: 0 1.3em;
	opacity: 1;
	transition: opacity .4s; 
}

#video-processing.fade {
	opacity: 0;
}

#spinner {
	transform: scale(0.5);
}

#processing-text {
	margin: .8em;
}

#complete-text {
	display: none;
	color: #00ff00;
	margin: .8em;
}

#progress-bar-container {
	background-color: rgba(0, 0, 0, 0.233);
	border-radius: 1em;
	margin: .8em 0;
	height: .4em;
	overflow: hidden;
}

#progress-bar-container span {
    display: block;
    height: 100%;
	width: 0%;
}

#progress-bar {
	background-color: #FFFFFF;
	animation: progress-bar .4s ease-in-out;
	animation-fill-mode: both;
	border-radius: 1em;
}

@keyframes progress-bar {
	0% { width: 0; }
	100% { width: 100%; }
  }